Deck/~$GettingComfortableWithCustomObjectsInPowerShell.pptx
Deck/GettingComfortableWithCustomObjectsInPowerShell.pptx
Deck/GettingComfortableWithCustomObjectsInPowerShell.ppsx
Deck/~$GettingComfortableWithCustomObjectsInPowerShell.ppsx
images/Spark.png
images/SparkTerminalBackground.png
images/SparkTerminal.png
transcript.txt
