Deck/~$GettingComfortableWithCustomObjectsInPowerShell .pptx
Deck/GettingComfortableWithCustomObjectsInPowerShell .pptx
Deck/GettingComfortableWithCustomObjectsInPowerShell .ppsx
transcript.txt
Deck/~$GettingComfortableWithCustomObjectsInPowerShell .ppsx
